
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lịch sử đặt sân</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav th:replace="attibute/navbar.html">

</nav>


    <div class="page-content">
        <div class="container-fluid">

            <h3>Lịch sử đặt đân</h3>
                            
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <table id="datatable" class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Số hoá đơn</th>
                                    <th>Sân</th>
                                    <th>Ngày đặt</th>
                                    <th>Thời gian</th>
                                    <th>Tổng tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>98541201</td>
                                    <td>Sân A</td>
                                    <td>30/5/2022</td>
                                    <td>10:00 - 12:00</td>
                                    <td>150.000</td>
                                    <td>
                                       <a href="#">Xoá</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>98554654</td>
                                    <td>Sân B</td>
                                    <td>12/5/2022</td>
                                    <td>8:00 - 11:00</td>
                                    <td>160.000</td>
                                    <td>
                                       <a href="#">Xoá</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>98747444</td>
                                    <td>Sân A</td>
                                    <td>12/5/2022</td>
                                    <td>8:00 - 11:00</td>
                                    <td>160.000</td>
                                    <td>
                                       <a href="#">Xoá</a>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>