<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lịch sử đặt sân</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav th:replace="attibute/navbar.html">

</nav>

<div class="page-content">
    <div class="container-fluid">
        <h3>Lịch sử đặt đân</h3>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <table  class="table table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th>Mã đặt sân</th>
                            <th>Mã sân bóng</th>
                            <th>Tên khách hàng</th>
                            <th>SĐT Khách hàng</th>
                            <th>Ngày đặt sân</th>
                            <th>Giờ bắt đầu</th>
                            <th>Giờ kết thúc</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="datSan: ${datSanList}">
                            <td th:text="${datSan.getMaDatSan()}"></td>
                            <td th:text="${datSan.getMaSanBong()}"></td>
                            <td th:text="${datSan.getTenKhachHang()}"></td>
                            <td th:text="${datSan.getSoDienThoaiKhachHang()}"></td>
                            <td th:text="${datSan.getNgayDatSan()}"></td>
                            <td th:text="${datSan.getGioBatDau()}"></td>
                            <td th:text="${datSan.getGioKetThuc()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>